.btnNovo{
    display: inline;
    float: right;
    padding: 50px;

}

.titleUser {
    padding: 120px 0  0 120px;
    color: #21BF73;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.7rem;
    font-weight: 600;
    text-transform: capitalize;
}

.regua{
    display: block;
    padding-left: 10px;
    margin: 10px auto;
    width: 80%;
    height: 2px;
    background-color: #21BF73;
}

.form-pesquisa{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

.searchText{
    padding: 8px 20px;
    width: 300px;
    border-radius: 25px 0 0 25px;
    border-color: #21BF73;
    border-width: 1px;
    border-style: solid;

    text-align: left;
    font-family: 'Quicksand', sans-serif;
    font-size: .9rem;
}

.btnSearch > img{
    width: 14px;
}

.btnSearch{
padding: 6px 15px 9px 9px;
margin-left: -5px;
width: auto;
background-color: #21BF73;
border: none;
border-radius: 0 25px 25px 0;
cursor: pointer;
}

.btnSearch:hover, #salvarSenha:hover{
    background-color: #18A862;
}

.tabelaPrincipal{
    padding-top: 80px;
    margin: auto;
    width: 80%;
}

#btnEdit{
    background-color: #fff;
    border: none;
    border-radius: 50px;
}

.btnEdit:hover{
    background-color: none;
    -webkit-transform: scale(1.1);
    transform: scale(1.2);
}

.novaSenha{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.novaSenha > .campo-m{
    width: 65%;
    padding: 10px 15px;
    margin: 15px 0;

    border: 1px;
    border-style: solid;
    border-color: #CACACA;
    border-radius: 25px;

    font-family: 'Quicksand', sans-serif;
    font-size: .9rem;
}

.acoes{
    padding: 25px 100px;
}

#btnDelete{
    background-color: #FD5E53;
    padding: 5px 7px;
    border: none;
    border-radius: 25px;
}

#btnDelete:hover{
    background-color: #970a00;
}

#ActiveUser{
    display: inline;
    float: right;
}

#salvarSenha{
    display: inline;
    float: right;
    padding: 6px 25px;
    margin: 0 10px 10px 0;

    border: none;
    border-radius: 25px;
    background-color: #21BF73;

    font-family: 'Nunito', sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-size: .85rem;
}
