#gridCadastro{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    padding: 50px;
}

#titleWhite{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-produto{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.form-produto >.box-1, .form-produto >.box-2{
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: 'Quicksand', sans-serif;
    font-size: .9rem;
}

.campo-m, .campo-g{
    padding: 15px;
    margin: 10px 0;

    border: none;
    border-radius: 25px;
    
    font-family: 'Roboto', sans-serif;
    font-size: .9rem;
    cursor:text;
    
}

.campo-m{
    width: 65%;
    text-align: center;
}

.campo-g{
    width: 65%;
    resize: none;
    padding-top: 20px;
}

.box-2 > label{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #fff;
    padding: 25px;
    padding-top: 15%;
    width: 65%;
    height: 70%;
    border-radius: 25px;

    cursor: pointer;
}

.textoImagem, .legenda{
    font-family: 'Roboto', sans-serif;
    padding: 15px;
}

.textoImagem{
    font-size: 1rem;
    font-weight: 600;
}

.legenda{
    font-size: .9rem;
    padding-top: 20px;
}

.box-2 > label:hover{
    background-color: #CACACA;
}

.box-2 > input[type="file"]{
    display: none;
}

.btnSalvar{
    display: inline;
    float: right;
    padding: 70px 80px 0;
}

.btnSalvar > input[type="submit"]{
    font-size: .9rem;
    padding: 10px 40px;
}

.imagemInserida{
    display: block;
    border-radius: 25px;
    margin-top: -75%;
}