
<div class="titleUser"><h3>Lista de Categorias</h3></div>
<span class="regua"></span>

<div class="form-pesquisa">
    <div>
        <input type="text" name="searchUser" class="searchText" placeholder="Digite a Categoria" />
        <button class="btnSearch"><img src="../image/searchIcon.png" /></button>
    </div>
</div>

<div class="tabelaPrincipal">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Categoria</th>
            <th scope="col">Cadastrados</th>
            <th scope="col">Sem Foto</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Pães</td>
            <td>12</td>
            <td>2</td>
        </tr>
        <tr>
            <td>Bolos</td>
            <td>8</td>
            <td>1</td>
        </tr>
        <tr>
            <td>Pães Doces</td>
            <td>6</td>
            <td>0</td>
        </tr>
        <tr>
            <td>Doces</td>
            <td>16</td>
            <td>5</td>
        </tr>
        </tbody>
    </table>
</div>
