
<div class="btnNovo"><a href="../pages/cadastro.html"><button class="btnVoltar">Novo</button></a></div>
<div class="titleUser"><h3>Usuários</h3></div>
<span class="regua"></span>

<div class="form-pesquisa">
    <div>
        <input type="text" name="searchUser" class="searchText" placeholder="Digite o nome de Usuário" />
        <button class="btnSearch"><img src="../image/searchIcon.png" /></button>
    </div>
</div>

<div class="tabelaPrincipal">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Nome</th>
            <th></th>
            <th scope="col">Ativo</th>
            <th scope="col">Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td colspan="2">Mark Otto</td>
            <td>Sim</td>
            <td><img class="btnEdit" style="width: 18px;" src="../image/round_mode_edit_black_24dp.png" /></td>
        </tr>
        <tr>
            <td colspan="2">Jacob Thornton</td>
            <td>Sim</td>
            <td><img class="btnEdit" style="width: 18px;" src="../image/round_mode_edit_black_24dp.png" /></td>
        </tr>
        <tr>
            <td colspan="2">Larry the Bird</td>
            <td>Sim</td>
            <td><img class="btnEdit" style="width: 18px;" src="../image/round_mode_edit_black_24dp.png" /></td>
        </tr>
        <tr>
            <td colspan="2">Renata Lira</td>
            <td>Não</td>
            <td><img class="btnEdit" style="width: 18px;" src="../image/round_mode_edit_black_24dp.png" /></td>
        </tr>
        </tbody>
    </table>
</div>
